In [23]:
import numpy as np
import pandas as pd
import math
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
data = pd.read_csv('bank-additional/bank-additional.csv', sep=";")
data.shape

(4119, 21)

In [5]:
def eucliden_distance(row1, row2):
    distance = 0.0
    for i in range(len(row1)-1):
        distance += (row1[i]-row2[i])**2
    return math.sqrt(distance)

In [28]:
data_subset = data.head(10)
data_subset

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,Basic,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,0
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,0
3,38,services,married,Basic,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,0
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,0
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,...,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6,0
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,0
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,0
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,0
9,35,blue-collar,married,Basic,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,0

In [29]:
data_subset['education'] = np.where(data_subset['education']=='basic.4y', 'Basic', data_subset['education'])
data_subset['education'] = np.where(data_subset['education']=='basic.6y', 'Basic', data_subset['education'])
data_subset['education'] = np.where(data_subset['education']=='basic.9y', 'Basic', data_subset['education'])

data_subset['y'] = np.where(data_subset['y']=='no', 0, data_subset['y'])
data_subset['y'] = np.where(data_subset['y']=='yes', 1, data_subset['y'])
data_subset['y'] = data_subset['y'].astype('int')
data_subset['y']

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: y, dtype: int64

In [30]:
data_subset = pd.get_dummies(data_subset, columns=['job','marital','education','default','housing','loan','contact',
                                 'month','day_of_week','poutcome'], drop_first=True)
data_subset

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,loan_unknown,contact_telephone,month_may,month_nov,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent
0,30,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,...,0,0,1,0,0,0,0,0,0,1
1,39,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0,...,0,1,1,0,0,0,0,0,0,1
2,25,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1,...,0,1,0,0,0,0,0,0,1,1
3,38,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1,...,1,1,0,0,0,0,0,0,0,1
4,47,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8,...,0,0,0,1,0,1,0,0,0,1
5,32,128,3,999,2,-1.1,94.199,-37.5,0.884,4963.6,...,0,0,0,0,1,0,1,0,0,0
6,32,290,4,999,0,-1.1,94.199,-37.5,0.879,4963.6,...,0,0,0,0,1,1,0,0,0,1
7,41,44,2,999,0,-0.1,93.200,-42.0,4.191,5195.8,...,0,0,0,1,0,1,0,0,0,1
8,31,68,1,999,1,-0.1,93.200,-42.0,4.153,5195.8,...,0,0,0,1,0,0,0,1,0,0
9,35,170,1,999,0,1.1,93.994,-36.4,4.855,5191.0,...,0,1,1,0,0,0,1,0,0,1

In [31]:
data_matrix = data_subset.to_numpy()
data_matrix
row0 = data_matrix[0]
distance = []
for row in data_matrix:
    distance.append(eucliden_distance(row0, row))
distance

[0.0,
 168.92844036751163,
 290.3762841297478,
 487.5021687131248,
 440.13156798053006,
 383.84543722310934,
 239.29547424052967,
 453.6042296242397,
 430.05997238641027,
 330.2768807606732]

In [32]:
def findKNearestNeibours(train, test_row, num_neighbors):
    distance = list()
    for train_row in train:
        dist = eucliden_distance(test_row, train_row)
        distance.append((train_row, dist))
    distance.sort(key=lambda tup: tup[1])
    nearest_neighbors = list()
    for i in range(num_neighbors):
        nearest_neighbors.append(distance[i][0])
    return nearest_neighbors

In [36]:
neighbors = findKNearestNeibours(data_matrix, data_matrix[0], 3)
neighbors

[array([ 3.0000e+01,  4.8700e+02,  2.0000e+00,  9.9900e+02,  0.0000e+00,
        -1.8000e+00,  9.2893e+01, -4.6200e+01,  1.3130e+00,  5.0991e+03,
         0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00]),
 array([ 3.9000e+01,  3.4600e+02,  4.0000e+00,  9.9900e+02,  0.0000e+00,
         1.1000e+00,  9.3994e+01, -3.6400e+01,  4.8550e+00,  5.1910e+03,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
         1.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,  1.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00]),
 array([ 3.2000e+01,  2.9000e+02,  4.0000e+00,  9.9900e+02,  0.0000e+00,
        -1.1000e+00,  9.4199e+01, -3.7500e+01,  8.7900e-01,  4.9636e+03,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         1.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00])]

In [37]:
def predict_classification(train, test_row, num_neighbors):
    neighbors = findKNearestNeibours(train,test_row,num_neighbors)
    output_values = [row[-1] for i in neighbors]
    predict = max(set(output_values), key=output_values.count)
    return predict

In [38]:
prediction = predict_classification(data_matrix, data_matrix[0], 3)
print('Expected %d, Got %d.' % (data_matrix[0][-1], prediction))

Expected 1, Got 1.

In [43]:
X = data_subset.drop('y', axis=1)
y = data_subset['y']
print(y)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=1)

predictions = list()
for row in X_test.to_numpy():
    predictions.append(predict_classification(X_train.to_numpy(), row, 3))

predictions

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: y, dtype: int64

[1.0, 1.0, 1.0]